.App {
  text-align: center;
}

* {
  background-color: burlywood;
  background-image: repeating-linear-gradient(-45deg, rgba(255,255,255, 0.25), rgba(255,255,255, 0.25) 1px, transparent 1px, transparent 6px);
  background-size: 8px 8px;
}

#Instructions {
  background-color: white;
  border: 3px solid black;
  max-width: 500px;
  border-radius: 10px;
  margin: auto;
  
}

h1 {
  background-color: white;
  color: black;
}

p {
  background-color: white;
}

button {
  background-color: beige;
  margin: 5px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);

}

#BoundaryCheck {
  display: none;
  max-width: 300px;
  margin: auto;
  background-color: rgb(234, 207, 205);
  font-size: 24px;
  background-image: none;
  border: 3px solid black;
  border-radius: 10px;


}
